@charset "utf-8";
	.NormalCharacterStyle1
{
	font-family : P22 Zaner;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle
{
	font-family : Myriad Pro;
	font-size : 23px;
	color : #000000;
	color : rgb(0, 0, 0);
}
